//- add more zhihu, douban, baidu etc and sub the icons!!
ul.social(style="display: block;height: 30px;")
  li
    a(href="http://twitter.com/ghlndsl", target="_new")
      i.icon-twitter
      span sivagao on twitter
  li
    a(href="http://github.com/ghlndsl", target="_new")
      i.icon-github
      span sivagao on github
  li
    a(href="http://weibo.com/1siva", target="_new")
      i.icon-linkedin
      span sivagao on linkedin
  li
    a(href="https://plus.google.com/108461639765280344969", target="_new")
      i.icon-google-plus
      span sivagao on google plus
  li
    a(href="mailto:j!s!an!tell AT gmail remove exclamations", class="email")
      i.icon-envelope-alt
      span email sivagao(ghlndsl)
