extends layout

block content
  h1 Oof. You just got 404'd.
  p It appears <code>#{url}</code> isn't found on this site. Here's an animated gif of a ketchup robot instead.
  p 貌似 <code>#{url}</code> 已经碎掉了. o(╯□╰)o
  img(src='/img/ketchuprobot.gif', class='center')
