html{margin:0;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html p{line-height:1.5em}
body{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:200;color:#333;margin:0;padding:0;background-color:#eee;background-image:url("../img/light_wool.png")}
.head{
	width: 100%;
	height: 60px;
	margin-bottom: 20px;
}
.head .logo {
	font-size: 30px;
	font-weight: bold;
	margin-top: 18px;
	padding-left: 20px;
}
.head .logo a:active {
	position: relative;
	top: 1px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
	filter: alpha(opacity=90);
}
.head .logo {
	font-size: 30px;
	font-weight: bold;
}
.wrap{width:1040px;margin-left:auto;margin-right:auto;*zoom:1;}
.wrap .container{width:1000px;padding:20px}
.content{width:740px;float:left;padding-right:50px;margin-bottom:20px}

a{text-decoration:none;color:#f07;font-weight:300;transition:background-color .1s;}
a:hover{color:#333;background-color:#ae2}
.clear{clear:both}
a span.label{background-color:#333;color:#eee;font-size:80%;padding:3px;margin:0 3px;border-radius:4px;box-shadow:3px 3px 0 #04dbe5,-3px -3px 0 #f07;transition:box-shadow .1s}
a:hover span.label{box-shadow:3px 3px 0 #ae2,-3px -3px 0 #ffb412}
.pagination{height:36px;margin:30px 0;padding:0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,0.05)}
.pagination li{display:inline}
.pagination a{float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;transition:background-color .1s}
.pagination .active a,.pagination a:hover{background-color:#f5f5f5}
.pagination .active a{color:#999;cursor:default}
.pagination .disabled a,.pagination .disabled a:hover{color:#999;background-color:transparent;cursor:default}
.pagination li:first-child a{border-left-width:1px;border-radius:3px 0 0 3px}
.pagination li:last-child a{border-radius:0 3px 3px 0}
.pagination-centered{text-align:center}
.pagination-right{text-align:right}
h1{margin-top:30px;text-transform:lowercase;font-size:190%}
h2{margin-top:30px;text-transform:lowercase;font-weight:300;font-size:150%}


.footer{background-color:#333;margin-bottom:0;border-top:4px solid #ae2;clear:both;height:800px;line-height:1.5em;overflow: hidden;}
.footer img.profile{display:block;border-radius:10px;margin:10px auto;height:120px;width:120px;border:1px solid #111}
.footer .container{margin-left:auto;margin-right:auto;width:1040px}
.footer .span{float:left;width:420px;margin:0 50px;color:#eee}
.footer .tweets ul{list-style:none;padding-left:0}
.footer .tweets li{margin-bottom:15px;background-color:#444;padding:10px;min-height:32px;border-radius:4px}
.footer .tweets .tweet_avatar{float:left;margin-right:15px}
.footer .tweets .tweet_time{font-size:14px}

/*.footer .sidebar{width:210px;float:right;}*/
.footer .sidebar ul{padding-left:0;list-style-type:none;margin-bottom:0;display:none;}
/*.footer .sidebar ul a{color:#333}*/
/*.footer .sidebar a{color:gray}*/

/*h2.name a{color:#333}*/
h3{margin-top:30px;text-transform:lowercase;font-weight:300;font-size:130%}
h2.name:before,h3.projects:before,h3.categories:before,h3.tags:before{float:left;margin-top:3px;margin-right:10px;content:'';width:20px;height:20px}
.sidebar h2,.sidebar h3{padding-bottom:2px}
/*.sidebar h2 a,.sidebar h3 a{color:#333}*/
h2.name{border-bottom:3px solid #f07;}
h2.name:before{background-color:#f07}
h3.projects{border-bottom:3px solid #04dbe5;}
h3.projects:before{background-color:#04dbe5}
h3.categories{border-bottom:3px solid #ae2;}
h3.categories:before{background-color:#ae2}
h3.tags{border-bottom:3px solid #ffb412;}
h3.tags:before{background-color:#ffb412}


.gh-watch,.gh-fill{border-radius:4px;box-shadow:3px 3px 0 #04dbe5,-3px -3px 0 #f07;position:relative;background-color:#eee;height:25px;padding-top:7px;padding-left:5px;float:left;width:65px;color:#666;transition:box-shadow .1s}
a:hover .gh-watch,a:hover .gh-fill{box-shadow:3px 3px 0 #ae2,-3px -3px 0 #ffb412}
.gh-watch span{text-align:center;position:absolute;left:28px;display:block;width:30px;top:7px}
.projects li{margin-top:10px;height:70px;border-bottom:1px solid #ddd;position:relative}
.projects h3{margin:0;margin-left:30px;padding:0;float:left;position:absolute;left:80px;top:2px;transition:background-color .1s}
.projects a:hover h3{background-color:#ae2}
.projects li > span{display:block;position:absolute;top:40px}


ul.projects{list-style:none}
div.post{position:relative;}
div.post p{font-size:110%}
span.date{position:absolute;top:35px;left:0}
code{background-color:#eee}
pre{color:#fffdeb;background-color:#2c3033;border-radius:4px;padding:10px}
.citation{display:block;font-size:14px;font-style:italic;background-color:#eee;border-radius:15px;padding:5px;margin:10px 0;}
.citation a:before{content:'-- '}
img.center{display:block;margin:0 auto}
p.caption{text-align:center}
.footnote{font-size:10px;margin:0 2px 0 2px;}
.footnote:before{content:'['}
.footnote:after{content:']'}

ul.social{list-style:none;padding-left:92px;}
ul.social li{float:left;font-size:36px;width:40px;margin-left:5px}
ul.social span{display:none}

#disqus_thread{margin-top:45px}


div.share{height:100px;margin:20px auto;width:120px}
.share .box{width:120px;margin-left:20px}
.share .count{font-weight:bold;font-size:50px;float:left;margin-top:5px}
.share .share{border-left:2px solid #f07;padding-left:10px;float:left;width:30px;font-size:20px;margin:0 0 0 20px}
.share .buttons{position:absolute;width:180px;height:80px;margin:0 auto;background-color:#eee;border:1px solid #666;padding:10px;box-shadow:0 2px 2px #666}
.share .button{float:left;max-width:50px;margin:0 10px 0 0}
.share .facebook{margin:0 4px 0 0}
